
<h2> Add tag</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="addTag()">

    <div>
        <label for="titre"> titre :</label> <br>
        <input id="titre" type="text" formControlName="titre"><br>
    </div>

    <div>
        <label for="nombreArticle"> nb Article :</label><br>
        <input id="nombreArticle" type="text" formControlName="nombreArticle"><br>
    </div>

    <button class="button" type="submit">Ajouter</button>
</form>

<h2> List Tags</h2>

<div *ngFor =" let tag of tags">
  {{ tag.titre}} -
  {{ tag.nombreArticle}}
</div>
