
tags :
<div *ngFor =" let tag of tags"> 
    {{ tag.titre}} -
    {{ tag.nbArticle}}
</div>
<h2> Add tag</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="addTag()">

    <div>
        <label for="titre"> titre :</label> <br>
        <input id="titre" type="text" formControlName="titre"><br>
    </div>

    <div>
        <label for="nbArticle"> nb Article :</label><br>
        <input id="nbArticle" type="text" formControlName="nbArticle"><br>
    </div>

    <button class="button" type="submit">Ajouter</button>
</form>

