<h2> Add tag</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="addUser()">

    <div>
        <label for="username"> username :</label> <br>
        <input id="username" type="text" formControlName="username"><br>
    </div>

    <div>
        <label for="password"> password:</label><br>
        <input id="password" type="text" formControlName="password"><br>
    </div>

    <div>
        <label for="email"> email:</label><br>
        <input id="email" type="text" formControlName="email"><br>
    </div>

    <button class="button" type="submit">Ajouter</button>
</form>

