
<h2> Add Commentaire</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="addComent()">

    <div>
        <label for="contenu"> contenu :</label> <br>
        <input id="contenu" type="text" formControlName="contenu"><br>
    </div>

<!--    <div>-->
<!--        <label for="user"> user :</label><br>-->
<!--        <input id="user" type="text" formControlName="user"><br>-->
<!--    </div>-->

    <button class="button" type="submit">Ajouter</button>
</form>

<h2>Commentaires :</h2>

<div *ngFor =" let commentaire of commentaires">
  {{ commentaire.contenu}} -
  {{ commentaire.utilisateur.username}}
</div>
